body, html {
    height: auto;
    margin: 0;
    background-color: black;
  }

  h2, h3, h4, p{
    font-family: Monsterrat;
  }

  p{
    font-size: 16px;
    text-align: justify;
    line-height: 1.7;
    width: 50%;
    margin: 0 auto 0 auto;
  }
  
   h3{
    color: rgb(192, 192, 192);   
   }

  .bgimg {
    background-image: url('/w3images/forestbridge.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
  }
  .middle {
    margin: 1vh auto 0 auto;
    text-align: center;
  }
  
  span{
    background: linear-gradient(to right, orange , white, green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
  }

  hr {
    margin: auto;
    width: 20%;
  }
  .gradient-text {
        width: 40%;
        text-align: center;
        margin-top: 24vh;
        margin-left: auto;
        margin-right: auto;
        font-size: 60px;
        background: linear-gradient(to right, orange , white, green);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
   }

   @media screen and (max-width: 700px) {
    p{
      width: 500px;
    }
    .gradient-text{
      width: 60%;
    }
   }
   @media screen and (max-width: 550px) {
    p{
      width: 400px;
    }
   }
   @media screen and (max-width: 450px) {
    p{
      width: 300px;
    }
   }
   @media screen and (max-width: 350px) {
    p{
      width: 220px;
    }
    .middle{
      top: 80%;
    }
   }
   