body, html {
    height: 100%;
    margin: 0;
    background-color: black;
  }

  h2, h3, h4{
    font-family: Monsterrat;
  }
  
   h3{
    color: rgb(192, 192, 192);   
   }

  .bgimg {
    background-image: url('/w3images/forestbridge.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
  }
  
  .topleft {
    position: absolute;
    top: 0;
    left: 16px;
  }
  
  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
  }
  
  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  hr {
    margin: auto;
    width: 60%;
  }
  .gradient-text {
        font-size: 60px;
        background: linear-gradient(to right, orange , white, green);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
   }
   